.login {
  display: flex;
  font-family: var(--font-family);
  color: white;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90vh;
}
.login-container {
  background: #2a2d3a;
  border-radius: 20px;
  min-width: 30%;
}
.login-container h1 {
  font: normal normal 600 35px/42px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  padding-left: 100px;
}
h1.wallet-name {
  font-weight: 400;
  font-size: 40px;
  font-family: var(--font-family);
}
.login-text {
}
.login-top-forms {
  background-color: #1d1f29;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: flex-start; /* Distribui os itens horizontalmente */
  padding: 0 20px; /* Adiciona algum espaçamento interno (ajuste conforme necessário) */
}
.back-icon {
  color: white;
  cursor: pointer;
  font-size: 30px;
  justify-content: flex-start;
}

.login-formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding-left: 2rem;
  padding-right: 2rem;
}
.login-formGroup label {
  font-family: var(--font-family);
  font: normal normal normal 24px/32px;
  line-height: 36px;
  margin-bottom: 5px;
}
.login-formGroup input {
  background: #353949;
  height: 56px;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 26px;
}

.login-formGroup textarea {
  background: #2d2e36;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 26px;
}
.login-formGroup select {
  background: #2d2e36;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 26px;
  text-overflow: ellipsis;
}
.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.login-writeButton {
  /* float: right; */
  background: #5656c4;
  height: 54px;
  width: 300px;
  border: none;
  border-radius: 10px;
  padding: 12px 30px;
  color: white;
  font: normal normal normal 18px Poppins;
  line-height: 21px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.login-writeButton:hover {
  /* float: right; */
  background-color: #434398;
}
.login-reg-writeButton {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 12px 30px;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
@media screen and (max-width: 550px) {
  .login {
    padding: 2rem 1.5rem !important;
  }
  .login-container {
    padding: 1.5rem 1rem;
  }
  .login-container h1 {
    /* display: none; */
    font-size: 36px;
    margin-top: 0;
  }
  .login-formGroup label {
    font-size: 20px;
    line-height: 30px;
  }
}
