.register{
  display: flex;
  font-family: var(--font-family);
  color: white;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90vh;
}
h1.wallet-name {
  font-weight: 400;
  font-size: 40px;
  font-family: var(--font-family);
}
.top-forms{
  background-color: #1D1F29;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px ;
  margin-bottom: 30px;
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content:  flex-start; /* Distribui os itens horizontalmente */
  padding: 0 20px; /* Adiciona algum espaçamento interno (ajuste conforme necessário) */
}

.back-icon {
  color: white;
  cursor: pointer;
  font-size: 30px;
  justify-content: flex-start;
}

.register-container {
  background: #2A2D3A;
  border-radius: 20px;
  min-width: 30%;
}
.register-container h1{
  font: normal normal 600 35px/42px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  padding-left: 60px;

}

.register-formGroup{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
}
.register-formGroup label{
  font-family: var(--font-family);
  font: normal normal normal 24px/32px;
  line-height: 36px;
  margin-bottom: 5px;
}
.register-formGroup input{
  background: #353949;
  height: 56px;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 26px;
}

.register-formGroup textarea{
  background: #2D2E36;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 26px;
}
.register-formGroup select{
  background: #2D2E36;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 26px;
  text-overflow: ellipsis;
}
.register-button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.register-writeButton{
  /* float: right; */
  background: var(--primary-btn);
  border: none;
  border-radius: 10px;
  padding: 12px 30px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
.reg-login-writeButton{
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 12px 30px;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
@media screen and (max-width: 550px){
  .register{
    padding:2rem 1.5rem !important;

  }
  .register-container{
    padding: 1.5rem 1rem;
  }
  .register-container h1{
    /* display: none; */
      font-size: 36px;
      margin-top: 0;
  }
  .register-formGroup label{
    font-size: 20px;
    line-height: 30px;
  }
  
}