/* styles.css */
img.arkade-logo {
  width: 187px;
  height: 37px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.marketplace-button {
  width: 374px;
  height: 70px;
  background: #5c5ce0;
  border: none;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  font: normal normal medium 25px/38px Poppins;
  color: white;
  font-family: var(--font-family);
  transition: background-color 0.3s ease, font-size 0.3s ease;
}
.marketplace-button:hover {
  background-color: #4949dc;
  font-size: 18px;
}
.explorer-container {
  margin: auto; /* Adiciona margem automática para centralizar horizontalmente */
  display: flex;
  padding: 0px 40px;
  flex-direction: column; /* ou row, dependendo da orientação desejada */
  align-items: center;
  background-color: #24252d;
}
.explorer {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
  background-color: #24252d;
}

.sub-container {
  height: 710px;
  width: 100%;
  background-color: #1d1f29;
  display: flex;
  flex-direction: column;
}
.header {
  margin: 0;
  background-color: #1d1f29;
  margin-bottom: 10px; /* Espaçamento entre .sub-item */
  padding: 30px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header-content {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
h1.tekoin {
  font-family: var(--font-family);
  font: normal normal medium 25px/38px;
  color: white;
}
p.nome-dono {
  font-family: var(--font-family);
  margin-left: 50px;
  font: normal normal medium 20px;
  color: white;
}
.dropdown {
  width: 145px;
  height: 50px;
  border-radius: 20px;
  background-color: #24252d;
  color: white;
  font-family: var(--font-family);
  border: none;
}
.navigation {
  margin: 0;
  background-color: #1d1f29;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 212px;
}
.navigation-saldo {
  width: 100%;
  display: flex;
}
.saldo-tekoin {
  font-family: var(--font-family);
  font: normal normal bold 34px/51px Poppins;
  color: white;
}
.wallet-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  color: white;
}
.navegation-address {
  width: 100%;
  display: flex;
}
.address-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font: normal normal bold 34px/51px;
  color: white;
  background-color: #5c5ce0;
  border: none;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  margin-top: 10px;
  transition: background-color 0.3s ease, font-size 0.3s ease;
}
.address-button:hover {
  background-color: #4949dc;
  font-size: 16.5px;
}
.address-icon {
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  height: 15px;
  height: 15px;
  transition: transform 0.3s ease;
}

.address-button:hover .address-icon {
  transform: scale(1.085);
}
.navigation-options {
  width: 100%;
  display: flex;
}
.navigation-buttons {
  width: 120px;
  height: 45px;
  background-color: #1d1f29;
  margin-top: 30px;
  border: none;
  font-family: var(--font-family);
  color: white;
  padding-top: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: background-color 0.3s ease;
}
.navigation-buttons:focus {
  background-color: #2a2d3a;
}
.focus {
  background-color: #2a2d3a;
}
.navigation-content {
  height: 100%;
  overflow-y: auto;
  background-color: #2a2d3a;
  overflow-x: hidden;
  scrollbar-color: #5c5ce0;
}

@media screen and (max-width: 670px) {
  .explorer-container {
    padding: 0px 15px;
  }
  .explorer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
  }
  .marketplace-button {
    border-radius: 10px;
    width: 200px;
    height: 45px;
  }
  .sub-container {
    border-radius: 25px;
  }
  .header {
    padding: 15px;
    border-radius: 25px;
  }
  h1.tekoin {
    font-size: 20px;
  }
  .navigation-saldo {
    align-items: center;
  }
  .wallet-logo {
    width: 35px;
    height: 35px;
  }
  .saldo-tekoin {
    font-size: 25px;
  }
  .address-button {
    width: 140px;
    height: 30px;
    border-radius: 10px;
  }
  .address-button span {
    font-size: 12px;
  }
  .address-icon {
  }
}
