
.bids-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
  }
  .bids-container-text h1{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 1rem;
  }
  
  .bids-container-card{
    margin: 0 -5px;
  }
  .bids-container-card:after {
    content: "";
    display: table;
    clear: both;
  }
  .card-column{
    float: left;
    width: 20%;
    margin-top: 20px;
  }
  .bids-card-account{
    background: #2A2D3A;
    border-radius: 20px;
    padding: 11px 12px 19px 11px;
    margin-inline: 10px;
    margin-bottom: 20px;
    width: 250px; /* Largura fixa */
    height: 320px; /* Altura fixa */
  }
  .bids-card img{
    border-radius: 20px;
    width: 100%;
  }
  .bids-card-top p{
  
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 25px;
    margin-left: 10px;
  }
  .bids-card-bottom{
    display: flex;
    justify-content: space-between;
  }
  .bids-card-bottom-account p{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 13px;
    margin-top: 2px;
    margin-left: 10px;
    line-height: 18px;
    /* text-align: right; */
    color: var(--primary-color);
  }
  .bids-card-bottom p:last-child{
  font-weight: normal;
  
  }
  .bids-card-bottom span{
  font-weight: normal;
  }
  .load-more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  .load-more button{
    background: transparent;
    border: 1px solid var(--primary-color);
    margin: 0 1rem;
    color: var(--primary-color);
    border-radius: 10px;
    padding: 10px 100px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }
  
  /* Estilo para o container do campo de entrada e do botão */
  .search-input {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
  
  }
  
  /* Estilo para o campo de entrada */
  .search-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: var(--font-family);
    width: 300px;
  }
  
  /* Estilo para o botão */
  .search-input button {
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: var(--font-family);
  }
  
  /* Estilo para o botão quando estiver desabilitado */
  .search-input button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Estilo para o botão quando estiver em estado de carregamento */
  .search-input button.loading {
    background-color: #007bff;
    opacity: 0.7;
    cursor: not-allowed;
  }
  
  @media screen and (max-width: 1440px) {
    .card-column {
      width: 25%;
      
    }
  }
  
  
  @media screen and (max-width: 1200px) {
    .card-column {
      width: 33.33%;
      
    }
  }
  
  @media screen and (max-width: 900px) {
    .card-column {
      width: 50%;
      
    }
  }
  @media screen and (max-width: 550px) {
    .section__padding{
      padding: 2rem 14px !important;
    }
    .bids-card{
      margin-bottom: 10px;
      margin-inline: 5px;
    }
    .bids-card-top p{
      font-size: 12px;
      line-height: 18px;
      margin-top: 5px;
    }
    .bids-card-bottom p{
      font-size: 10px;
      line-height: 15px;
    }
    .bids-container{
      width: 100%;
    }
  
  }
  
p.address{
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  color: #FFFFFF;
  background: var(--primary-btn);
  border-radius: 10px;
  padding: 15px;
  margin-top: 40px;
}

.address{
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  color: #000;
  border-radius: 10px;
  padding: 15px;
}
.address::selection{
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  background-color: #007bff;
  color: #000;
  border-radius: 10px;
  padding: 15px;
}

p.saldoText{
  margin-bottom: 5px;
}

.cardSaldo{
  margin-top: 50px;
  background-color: #2A2D3A;
  border-radius: 20px;
  padding: 40px;
  font-family: var(--font-family);
  color: #FFFFFF;
}

.accontButton{
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  background: transparent;
  border: 2px solid var(--primary-color);
  padding: 10px;
  color: var(--primary-color);
  border-radius: 10px;
}

.button{
  display: flex; /* Use display flex para alinhar itens horizontalmente e verticalmente */
  justify-content: center; /* Centralize os itens horizontalmente */
  align-items: center; /* Centralize os itens verticalmente */
  /* Outros estilos conforme necessário */
}