.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #14222b, #0f181e);
  padding: 10px 20px;
  height: 180px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-center {
  display: flex;
}

.header-link {
  font-family: var(--font-family);
  font-size: 22px;
  margin: 50px;
  color: #fff; /* Cor padrão do texto dos links */
  text-decoration: none;
  transition: color 0.3s ease; /* Transição suave de 0.3 segundos */
}

/* Estilo quando o mouse está sobre o link */
.header-link:hover {
  color: #a3d4bc; /* Cor do texto quando hover */
}

/* Estilo quando o link está ativo (após ser clicado) */
.header-link:active {
  color: #a3d4bc; /* Cor do texto quando clicado */
}

.header-right {
  display: flex;
  align-items: center;
}

.user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 20px;
}

.user-name {
  font-family: var(--font-family);
  font-size: 22px;
  color: #fff; /* Cor do texto do nome do usuário */
  transition: color 0.3s ease; /* Transição suave de 0.3 segundos */
}
.user-name:hover {
  color: #a3d4bc;
}

.logo {
  width: 120px;
}
