.invitations-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.invitations-list {
  background-color: chartreuse;
  display: flex;
  justify-content: center;
  width: 50%;
  font-family: var(--font-family);
}

.invitations-form {
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  font-family: var(--font-family);
}

.invitations-form form {
  margin-top: 20px;
  text-align: left;
  padding-left: 15%;
  padding-right: 15%;
}

.invitations-form label {
  display: block;
  margin-bottom: 5px;
}

.invitations-form input[type="text"] {
  width: 100%;
  padding: 8px;
  font-family: var(--font-family);
  margin-bottom: 30px;
  border: none;
  background-color: #0d141a;
  border-radius: 10px;
}
.invitations-form input[type="text"]:focus {
  border: 1px solid #6e9982;
}

.div-button-create-invite {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.invitations-form button {
  background-color: #a3d4bc;
  font-family: var(--font-family);
  font-weight: 600;
  color: #0d141a;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.invitations-form button:hover {
  background-color: #6e9982;
}
