.invitations-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.invitations-list {
  max-height: 480px; /* Ajuste conforme necessário */
  overflow-y: auto; /* Permite rolagem vertical quando o conteúdo excede a altura máxima */
  margin-top: 20px;
  padding: 10px;
  color: #fff;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: var(--font-family);
}
.invitations {
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  font-family: var(--font-family);
}
.invitations-list .invitation-item {
  margin-bottom: 15px;
  width: 70%;
  padding: 20px;
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #6e9982;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.invitations-list .invitation-item:hover {
  background-color: #567966;
  transform: scale(1.025);
}

.invitations-item-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 50%;
}
.invitations-item-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: end;
}
.qrcode-item {
  width: 105px;
  border-radius: 5%;
}
strong.strong {
  color: #0d141a;
  font-size: larger;
  display: flex;
  flex-direction: row;
  text-align: start;
  width: 40px;
}
.invitations-form {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 50%;
  font-family: var(--font-family);
}

.invitations-form form {
  margin-top: 20px;
  text-align: left;
  padding-left: 15%;
  padding-right: 15%;
}

.invitations-form label {
  display: block;
  margin-bottom: 5px;
}

.invitations-form input[type="text"] {
  width: 100%;
  padding: 8px;
  font-family: var(--font-family);
  color: #fff;
  margin-bottom: 30px;
  border: 1px solid transparent;
  background-color: #0d141a;
  border-radius: 10px;
  outline: none;
}
.invitations-form input[type="text"]:focus {
  border: 1px solid #6e9982;
}

.div-button-create-invite {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.invitations-form button {
  background-color: #a3d4bc;
  font-family: var(--font-family);
  font-weight: 600;
  color: #0d141a;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.invitations-form button:hover {
  background-color: #6e9982;
}

.icon-sucess-popup {
  width: 130px;
  margin: 20px;
}
.text-sucess-popup {
  margin: 20px;
  font-size: 25px;
  font-weight: 500;
}
