.bids-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.bids-container-text h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #ffffff;
  margin-bottom: 1rem;
}

.bids-container-card {
  margin: 0 -5px;
}
.bids-container-card:after {
  content: "";
  display: table;
  clear: both;
}
.card-column {
  width: 25%;
  margin-top: 20px;
}
.bids-card {
  background: #1d1f29;
  border-radius: 20px;
  padding: 11px 12px 19px 11px;
  margin-inline: 10px;
  margin-bottom: 20px;
  width: 200px; /* Largura fixa */
  height: 270px; /* Altura fixa */
}
.bids-card img {
  border-radius: 20px;
  width: 100%;
}
.bids-card-top p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  color: #ffffff;
  margin-top: 25px;
  margin-left: 10px;
}
.bids-card-bottom {
  display: flex;
  justify-content: space-between;
}
.bids-card-bottom p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 13px;
  margin-top: 2px;
  margin-left: 10px;
  line-height: 18px;
  color: #5c5ce0;
}
.bids-card-bottom p:last-child {
  font-weight: normal;
}
.bids-card-bottom span {
  font-weight: normal;
}
.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.load-more button {
  background: transparent;
  border: 1px solid var(--primary-color);
  margin: 0 1rem;
  color: var(--primary-color);
  border-radius: 10px;
  padding: 10px 100px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

/* Estilo para o container do campo de entrada e do botão */
.search-input {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.select-collection-div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: none;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.select-collection {
  background-color: #353949;
  border: none;
  width: 50%;
  height: 40px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 22px;
  border-radius: 20px;
  text-align: left;
  font: normal normal 500 15px/23px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

/* Estilo para o campo de entrada */
.search-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: var(--font-family);
  width: 300px;
}

/* Estilo para o botão */
.search-input button {
  background: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 10px;
  margin-left: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: var(--font-family);
}

/* Estilo para o botão quando estiver desabilitado */
.search-input button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Estilo para o botão quando estiver em estado de carregamento */
.search-input button.loading {
  background-color: #007bff;
  opacity: 0.7;
  cursor: not-allowed;
}

@media screen and (max-width: 1440px) {
  .card-column {
    width: 25%;
  }
}

@media screen and (max-width: 1200px) {
  .card-column {
    width: 33.33%;
  }
}

@media screen and (max-width: 900px) {
  .card-column {
    width: 50%;
  }
}
@media screen and (max-width: 550px) {
  .section__padding {
    padding: 2rem 14px !important;
  }
  .bids-card {
    margin-bottom: 10px;
    margin-inline: 5px;
  }
  .bids-card-top p {
    font-size: 12px;
    line-height: 18px;
    margin-top: 5px;
  }
  .bids-card-bottom p {
    font-size: 10px;
    line-height: 15px;
  }
  .bids-container {
    width: 100%;
  }
}

.bids-card-row {
  display: flex;
  width: 500px;
  margin-bottom: 20px;
  background: #353949;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Adiciona uma sombra suave */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Adiciona uma transição suave para a sombra */
}
.bids-card-row:hover,
.bids-card-row:focus {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra mais pronunciada no hover ou foco */
  transform: scale(1.05);
}

.bids-card-row-left {
  width: 30%; /* Ajuste conforme necessário */
}

.bids-card-row-left img {
  border-radius: 20px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.bids-card-row-right {
  flex: 1;
  padding: 11px 12px 12px 11px;
  margin-inline: 10px;
}

.nft-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 17px;
  color: white;
}
.nft-collection {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  color: #5c5ce0;
}

.bids-card-row-right p:last-child {
  font-weight: normal;
}

.bids-card-row-right span {
  font-weight: normal;
}

@media screen and (max-width: 540px) {
  .select-collection {
    width: 70%;
  }
  .bids-card-row-left {
    width: 100%; /* Ajuste conforme necessário */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bids-card-row {
    width: 80%;
    flex-direction: column;
  }
}
