/* AccountSelectionPopup.css */

.account-selection-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .account-selection-popup-content {
    background: #242424;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;

  }
  
  .account-selection-popup h2 {
    margin-top: 0;
    color: #fff;
    font-family: var(--font-family);
  }
  
  .account-selection-popup ul {
    list-style: none;
    padding: 0;
    color: #fff;
  }
  
  .account-selection-popup li {
    padding: 10px;
    cursor: pointer;
    font-family: var(--font-family);
    transition: background 0.3s ease-in-out;
    border-radius: 5px;

  }
  .account-selection-popup ul li {
    white-space: nowrap; /* Impede a quebra de linha */
    overflow: hidden; /* Oculta o texto que ultrapassa a largura */
    text-overflow: ellipsis; /* Adiciona reticências (...) quando o texto é cortado */
  }
  
  .account-selection-popup li:hover {
    background: var(--primary-color);
    border-radius: 5px;
  }
  
  .account-selection-popup .selected {

  }
  
  .account-selection-popup button {
    font-family: var(--font-family);
    color: var(--primary-color);
    font-weight: 600;
    font-size: 20px;
    background: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 5px;
  }
  
  .account-selection-popup button:hover {

  }
  